html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    
}
/*
Roboto Thin 100
Roboto Light 300  
Roboto-Regular 400
Roboto-Medium 500
Roboto Bold 700
Roboto Black 900
*/
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Thin'), 
        local('../fonts/Roboto-Thin'), 
        url('../fonts/Robotothin.woff2') format('woff2'),
        url('../fonts/Robotothin.woff') format('woff'), 
        url('../fonts/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Thin Italic'), 
        local('../fonts/Roboto-ThinItalic'), 
        url('../fonts/Robotothinitalic.woff2') format('woff2'), 
        url('../fonts/Robotothinitalic.woff') format('woff'), 
        url('../fonts/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Light'), 
        local('../fonts/Roboto-Light'), 
        url('../fonts/Robotolight.woff2') format('woff2'), 
        url('../fonts/Robotolight.woff') format('woff'), 
        url('../fonts/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Light Italic'), 
        local('../fonts/Roboto-LightItalic'), 
        url('../fonts/Robotolightitalic.woff2') format('woff2'), 
        url('../fonts/Robotolightitalic.woff') format('woff'), 
        url('../fonts/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto'), 
        local('../fonts/Roboto-Regular'), 
        url('../fonts/Roboto.woff2') format('woff2'), 
        url('../fonts/Roboto.woff') format('woff'), 
        url('../fonts/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Italic'), 
        local('../fonts/Roboto-Italic'), 
        url('../fonts/Robotoitalic.woff2') format('woff2'), 
        url('../fonts/Robotoitalic.woff') format('woff'), 
        url('../fonts/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Medium'), 
        local('../fonts/Roboto-Medium'), 
        url('../fonts/Robotomedium.woff2') format('woff2'), 
        url('../fonts/Robotomedium.woff') format('woff'), 
        url('../fonts/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Medium Italic'), 
        local('../fonts/Roboto-MediumItalic'), 
        url('../fonts/Robotomediumitalic.woff2') format('woff2'), 
        url('../fonts/Robotomediumitalic.woff') format('woff'), 
        url('../fonts/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Bold'), local('Roboto-Bold'), 
        url('../fonts/Robotobold.woff2') format('woff2'), 
        url('../fonts/Robotobold.woff') format('woff'), 
        url('../fonts/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Bold Italic'), 
        local('../fonts/Roboto-BoldItalic'), 
        url('../fonts/Robotobolditalic.woff2') format('woff2'), 
        url('../fonts/Robotobolditalic.woff') format('woff'), 
        url('../fonts/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Black'), 
        local('../fonts/Roboto-Black'), 
        url('../fonts/Robotoblack.woff2') format('woff2'), 
        url('../fonts/Robotoblack.woff') format('woff'), 
        url('../fonts/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('../fonts/Roboto Black Italic'), 
        local('../fonts/Roboto-BlackItalic'), 
        url('../fonts/Robotoblackitalic.woff2') format('woff2'), 
        url('../fonts/Robotoblackitalic.woff') format('woff'), 
        url('../fonts/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

.container{
    width: 1400px;
}
.page-header{
    height: 834px;
    background-image: url(../img/Backgr.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-end;
    margin-top: 0;
}
.main-menu li{
    display: flex;
    flex-direction: row;
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    color: #666666;
    width: 250px;
}
.main-menu li:nth-child(1) p{
    margin-top: 15px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 22px;
    margin-right: 50px;
    font-style: normal;
    color: #000;
}
.main-menu img{
    margin-top: 15px;
    margin-right: 10px;
}
.main-menu li:nth-child(1) img{
    margin-top: 0;
}
.header-contenet{
    display: flex;
    flex-direction: row;
}
.mikocin{
    height: 334px;
    width: 634px;
    margin-top: 400px;
    position: relative;
    background-image: url(../img/mikocin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.mikocin p{
    position: absolute;
    font-size: 34px;
    color: white;
    padding: 0 10px;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: 700;
}
.mikocin p:nth-child(1){
    top: -46px;
    right: 200px;
    background-color: #ff6b00;
}
.mikocin p:nth-child(2){
    top: 80px;
    right: 95px;
    background-color: #a8ca3f;
}
.mikocin img{
    margin-left: 5px;
}
.header-contenet-list{
    background-image: url(../img/backconthead.png);
    background-position: bottom 195px left 30px;
    background-repeat: no-repeat;
    background-size: 55px;
}
.header-contenet-list li{
    display: flex;
    flex-direction: row;
    position: relative;
}
.header-contenet-list li:nth-child(1){
    font-family: "Roboto"; 
    color: #383334;
}
.header-contenet-list li:nth-child(1) h2{
    margin: 0;
    font-size: 44px;
    font-weight: 900;
}
.header-contenet-list li:nth-child(1) span{
    font-size: 34px;
    font-weight: 700;
}
.header-contenet-list li p{
    font-size: 20px;
}
.header-contenet-list li p:nth-child(1){
    color: #fff;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: 700;
}
.header-contenet-list li p:nth-child(2){
    margin-bottom: 10px;
    margin-left: 60px;
}
.header-contenet-list p{
    color: #444444;
    font-family: "Roboto";
    font-weight: 400;
}
.header-contenet-list span1{
    text-decoration:  underline  #ff6b00;
}
.header-contenet-list span2{
    text-decoration: underline #a8ca3f;
}
.header-contenet-list p span{
    color: #000;
    font-weight: 500;
}
.header-contenet-list li:nth-child(2) p:nth-child(1){
    position: absolute;
    top: 30px;
}
.header-contenet-list li:nth-child(3) p:nth-child(1){
    position: absolute;
    top: -25px;
    left: 11px;
}
.header-contenet-list li:nth-child(4) p:nth-child(1){
    position: absolute;
    top: -45px; 
    left: 11px;
}
.input-content-list{
    margin-left: 61px;
    padding-inline-start: 0;
    width: 330px;
    height: 620px;
    list-style: none;
    background-image: url(../img/Backinput.png);
    background-position: center;
    background-size: 320px;
    background-repeat: no-repeat;
}
.input-content-list li{
    width: 290px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}
.input-content-list li:nth-child(1) p{
    font-family: "Roboto";
    font-weight: 400;
    color: #444444;
}
.input-content-list li:nth-child(1) img{
    margin-top: 17px;
    margin-right: 10px; 
}
.input-content-list li:nth-child(2) p{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
}
.input-content-list li:nth-child(2) span{
    font-weight: 500;
    color: #ff6b00;
}
.input-content-list li:nth-child(3) p{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: 400;
}
.input-content-list li:nth-child(3) p:nth-child(1){
    margin-right: 33px;
    color: #666666;

}
.input-content-list li:nth-child(4) p, 
.input-content-list li:nth-child(4) span{
    margin-top: 0;
    font-size: 34px;
    font-family: "Roboto";
}
.input-content-list li:nth-child(4) span{
    height: 40px;
    width: 88px;
    margin-right: 25px;
    font-weight: 300;
    background-image: url(../img/X.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}
.input-content-list li:nth-child(4) p{
    font-weight: 900;
    background-color: #ffbf02;
    border-radius: 5px;
    margin-left: 5px;  
}
#user:placeholder-shown,#tel:placeholder-shown{
    padding-left: 53px;
}
#user,#tel{
    height: 63px;
    width: 220px;   
    border: none;
    border-radius: 50px;
    margin-bottom: 10px;
    background-color: #eef2f7;
}
#user{
    background-image: url(../img/Name.png);
    background-position: bottom 20px left 20px;
    background-size: 20px;
    background-repeat: no-repeat;
     
}
#tel{
    background-image: url(../img/Num.png);
    background-position: bottom 20px left 20px;
    background-size: 20px;
    background-repeat: no-repeat;
}
.input-content-list li:nth-child(7) button{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 0;
    border: none;
    outline: none;
    margin-top: 0;
    line-height: .5;
    background-color: #ffbf02;
    padding: 16px 44px;
    border-radius: 50px;
}
.input-content-list li:nth-child(7) span{
    font-size: 16px;
}
.input-content-list li:nth-child(8) p{
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    color: #333333;
}
.input-content-list li:nth-child(8) span{
    color: #9dbd39;
}
.input-content-list li:nth-child(9) p{
    color: #666666;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
}
.input-content-list li:nth-child(9) img{
    margin-top: 12px;
    margin-right: 10px;
}
.main-logo{
    display: flex;
    justify-content: center;    
}
.main-wrap h2{  
    text-align: center;
    line-height: 2;
    font-size: 48px;
    font-family: "Roboto";
    font-weight: 800;   
    color: #383334; 
}
.main-wrap span {
    font-size: 24px;
    color: #2b2828;
}
.main-content-list{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}
.list-wrap{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.list-wrap p{
    font-size: 22px;
    font-family: "Roboto";
    font-weight: 500;
    margin-right: 30px;
}
.list-wrap p:nth-child(1){
    font-size: 30px;
    font-weight: 400;
    position: absolute;
    left: 150px;
    top: -10px;
    color: #fff;
}
.main-content-list li:nth-child(1) p:nth-child(2){
    margin-top: 70px;
    margin-right: 80px;
}
.main-content-list li:nth-child(2) p:nth-child(2){
    margin-top: 70px;
    margin-right: 50px;
}
.main-content-list li:nth-child(3) p:nth-child(2){
    margin-top: 70px;
    margin-right: 60px;
}
.list-wrap{
    height: 191px;
    width: 388px;
    margin-bottom: 50px; 
    background-repeat: no-repeat; 
    background-position: left;
    background-size: contain;
}
.inf1{
    background-image: url(../img/inf1.png);
}
.inf2{
    background-image: url(../img/inf2.png);
}
.inf3{
    background-image: url(../img/inf3.png);
}
.main-content-list span{
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 400;
}
.footer-content{
    position: relative;
    margin-top: 75px;  
    width: 1260px;
}
.footer-content img{
    position: absolute;
    left: 50%;
}
.footer-content p{
    border: 2px solid #f4d3bb;
    padding: 40px 63px;
    text-align: center;
    font-size: 22px;
    font-family: "Roboto";
    color: #444444;
}
.footer-content span{
    font-weight: 800;
    color: #000;
}
@media (max-width: 1280px){
    .container{
        max-width: 1280px;
    }
    .header-contenet-list{
    background-position: bottom 199px left 30px;
    }
    .input-content-list{
        background-position: top 10px left ;
    }
}
@media (max-width: 800px){
    .container{
        max-width: 700px;
    }
    .page-header{
        width: 700px;
    }
    .main-menu{
        margin-left: 150px; 
        width: 500px;
        flex-direction: column;
    }
    .main-menu li p{
        width: 140px;
    }
    .mikocin{
        margin-top: 150px;
        margin-bottom: 100px;
        margin-left: -40px;
    }
    .header-contenet-list{
        margin-bottom: 50px;   
        margin-left: 110px;
        width: 400px;
    }
    .header-contenet-list li{
        width: 400px;
    }
    .header-contenet{
        flex-direction: column;
        width: 600px;
    }
    .header-contenet-list{
        background-position: bottom 40px left 30px;
    }
    .main-content-list{
        flex-direction: column;
    }
    .input-content-list{
        margin-left: 150px; 
    }
    .main-logo{
        width: 700px;
        margin-top: 1400px;
        margin-right: 50px;
    }
    .main-wrap{
        width: 600px;
    }
    .main-wrap LI{
        margin-left: 100px;
        margin-bottom: 30px;
    }
    .footer-content{
        width: 600px;
    }
    .footer-content p{
        padding: 20px 30px;
    }
    .footer-content img{
        top: -30px;
        left: 40%;
    }
}